*.log
*.sublime-*
*[Tt]humbs.db
.*
.idea/*
_/
cache/
temp/
~*

/node_modules
/public/wp
/vendor
auth.json
env.php

/public/app/languages
/public/app/mu-plugins/*/
/public/app/plugins/*
/public/app/themes/*
/public/app/updraft
/public/app/upgrade
/public/app/uploads/*
/public/app/*.php

!/public/app/plugins/.gitkeep
!/public/app/themes/.gitkeep
!/public/app/uploads/.gitkeep

!.editorconfig
!.gitattributes
!.gitignore
!.gitkeep
!.htaccess
!.jscsrc
!.jshintrc
!.travis.yml
!env.example.php
